@model MvcStok.Models.Entity.TBLURUNLER

@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNADI" placeholder="Ürün Adı Giriniz" required="" maxlength="50" />
    </div>
    <div>
        <label>Ürün Markası</label>
        <input type="text" class="form-control" name="MARKA" placeholder="Buraya Ürünün Markasını Giriniz" required="" />
    </div>
    <div>
        <label>Kategori Seçiniz</label>>
@Html.DropDownListFor(m=>m.TBLKATEGORILER.KATEGORIID, (List<SelectListItem>)ViewBag.value, new { @class = "form-control" })
    </div>
    <div>
        <label>Ürün Fiyatı</label>
        <input type="text"  class="form-control" name="FIYAT" placeholder="Ürün Fiyatı Giriniz" required="" />
    </div>

    <div>
        <label>Ürün Stoğu</label>
        <input type="text" class="form-control" name="STOK" placeholder="Stok Sayısını Giriniz" required="" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>

