
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Home Sayfası</h2>
<p>Oruç Han KURAL'a ait bir Asp.net Stok projesidir</p>
<h3>İşlemler</h3>
<p>Müşteri Ekleme & Silme & Görüntüleme & Güncelleme</p>
<p>Ürün Ekleme & Silme & Görüntüleme & Güncelleme</p>
<p>Ürün Kategorisi Ekleme & Silme & Görüntüleme & Güncelleme</p>
<p>Satış İşlemi Ekleme (Popup)</p>
<h3>İçerik</h3>
<p>Dropdownlist</p>
<p>Validation Control</p>
<p>StringLenght Validation</p>
<p>Paging</p>
<p>Alert Usage</p>
<p>Modal Popup</p>
<p>Datatable Jquery</p>
<p>Linq</p>
<p>FirstOrDefault</p>
<p>Lambda Controls </p>
<p>PagedListPager </p>
<p>ReDirectToAction </p>
<p>Linq Static Value </p>
<p>Innerjoin </p>





